%br
%br
%form(method="post" action="/admins/reply_to_app" name="reply_to_topic")
  .row.font_18px
    .text-right.col-xs-5
      用户:
    .col-xs-4
      %input.form-control(name="user_name" )
      %input.form-control.hidden{:name=>"app" ,:value=>@app_id }

  %br
  .row.font_18px
    .text-right.col-xs-5
      内容:
    .col-xs-4
      %textarea.form-control(name="content" )
    .col-xs-3.red_color
      *
  %br
  .row
    .col-xs-5
    .col-xs-2
      %button.btn-local_2
        评论