/ // OPTIONAL &amp; CONDITIONAL CSS FILES //
/ date picker css
%link{:href => "/JarvisAdmin_v1.9.3/css/datepicker.css?v=1", :rel => "stylesheet"}/
/ full calander css
%link{:href => "/JarvisAdmin_v1.9.3/css/fullcalendar.css?v=1", :rel => "stylesheet"}/
/ data tables extended CSS
%link{:href => "/JarvisAdmin_v1.9.3/css/TableTools.css?v=1", :rel => "stylesheet"}/
/ bootstrap wysimhtml5 editor
%link{:href => "/JarvisAdmin_v1.9.3/css/bootstrap-wysihtml5.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/wysiwyg-color.css", :rel => "stylesheet"}/
/ custom/responsive growl messages
%link{:href => "/JarvisAdmin_v1.9.3/css/toastr.custom.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/toastr-responsive.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/jquery.jgrowl.css?v=1", :rel => "stylesheet"}/
/ // DO NOT REMOVE OR CHANGE ORDER OF THE FOLLOWING //
/ bootstrap default css (DO NOT REMOVE)
%link{:href => "/JarvisAdmin_v1.9.3/css/bootstrap.min.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/bootstrap-responsive.min.css?v=1", :rel => "stylesheet"}/
/ font awsome and custom icons
%link{:href => "/JarvisAdmin_v1.9.3/css/font-awesome.min.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/cus-icons.css?v=1", :rel => "stylesheet"}/
/ jarvis widget css
%link{:href => "/JarvisAdmin_v1.9.3/css/jarvis-widgets.css?v=1", :rel => "stylesheet"}/
/ Data tables, normal tables and responsive tables css
%link{:href => "/JarvisAdmin_v1.9.3/css/DT_bootstrap.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/responsive-tables.css?v=1", :rel => "stylesheet"}/
/ used where radio, select and form elements are used
%link{:href => "/JarvisAdmin_v1.9.3/css/uniform.default.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/select2.css?v=1", :rel => "stylesheet"}/
/ main theme files
%link{:href => "/JarvisAdmin_v1.9.3/css/theme.css?v=1", :rel => "stylesheet"}/
%link{:href => "/JarvisAdmin_v1.9.3/css/theme-responsive.css?v=1", :rel => "stylesheet"}/
/ // THEME CSS changed by javascript: the CSS link below will override the rules above //
/ For more information, please see the documentation for "THEMES"
%link#switch-theme-js{:href => "/JarvisAdmin_v1.9.3/css/themes/default.css?v=1", :rel => "stylesheet"}/
/ To switch to full width
%link#switch-width{:href => "/JarvisAdmin_v1.9.3/css/full-width.css?v=1", :rel => "stylesheet"}/
/ Webfonts
%link{:href => "/JarvisAdmin_v1.9.3/css/googleapis.css", :rel => "stylesheet"}/
/ All javascripts are located at the bottom except for HTML5 Shim
/ HTML5 shim, for IE6-8 support of HTML5 elements
/[if lt IE 9]
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="/JarvisAdmin_v1.9.3/js/include/respond.min.js"></script>
/ For Modern Browsers
%link{:href => "img/favicons/favicon.png", :rel => "shortcut icon"}/
/ For everything else
%link{:href => "/JarvisAdmin_v1.9.3/img/favicons/favicon.ico", :rel => "shortcut icon"}/
/ For retina screens
%link{:href => "/JarvisAdmin_v1.9.3/img/favicons/apple-touch-icon-retina.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
/ For iPad 1
%link{:href => "/JarvisAdmin_v1.9.3/img/favicons/apple-touch-icon-ipad.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
/ For iPhone 3G, iPod Touch and Android
%link{:href => "/JarvisAdmin_v1.9.3/img/favicons/apple-touch-icon.png", :rel => "apple-touch-icon-precomposed"}/
/ iOS web-app metas
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
%meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}/
/ Add your custom home screen title:
%meta{:content => "Jarvis", :name => "apple-mobile-web-app-title"}/
/ Startup image for web apps
%link{:href => "/JarvisAdmin_v1.9.3/img/splash/ipad-landscape.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)", :rel => "apple-touch-startup-image"}/
%link{:href => "/JarvisAdmin_v1.9.3/img/splash/ipad-portrait.png", :media => "screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)", :rel => "apple-touch-startup-image"}/
%link{:href => "/JarvisAdmin_v1.9.3/img/splash/iphone.png", :media => "screen and (max-device-width: 320px)", :rel => "apple-touch-startup-image"}/