%script(lang="javascript" src="/javascripts/admin/app_info.js" )
%body(class="wysihtml5-supported" )
  =render 'admins/admin_header'
  #main.container-fluid{:role => "main"}
    .contained
      %aside.width_20
        .sidebar-nav-fixed
          %ul.menu
            %li
              %a{:href => 'javascript:show_iframe("app_basic_info")'} 基本信息
            %li
              %a{:href => 'javascript:show_iframe("strategies")'} 攻略
            %li
              %a{:href => 'javascript:show_iframe("all_gift_packs")'} 礼包管理
            %li
              %a{:href => 'javascript:show_iframe("all_activities")'} 活动管理
            %li
              %a{:href => "/admins/apps/"+@app_id+"/comments_manage" ,:target=>"iframe_src"} 用户评论
      %iframe#iframe_src(frameborder=0 width="79%" height="100%" name="iframe_src")
