.gift-pack-activity-list-ul {
    padding: 10px 2% 10px 4% !important;
}

.list-style-none {
    list-style: none;
}

.gift-pack-activity-list-li{
    height: 80px;
    width: 100%;
    padding: 10px 2%;
    border-radius: 6px;
    background-color: #ffffff;
    list-style: none;
    margin-top: 5px;
    /*display: inline-block;*/
}

.margin-top{
    margin-top:25px;
}

.gift-pack-activity-list-img {
    width:60px !important;
    height:60px !important;
}

.gift-pack-activity-list-name {
    font-size: 16px;
    padding: 0 0 0 10px !important;
    margin: 6px 0 0 0 !important;
    color: #000000 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gift-pack-activity-list-intro {
    font-size: 12px;
    padding: 0 0 0 10px !important;
    margin: 6px 0 0 0 !important;
    color: #000000 !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gift-pack-activity-list-views {
    padding: 0 0 0 10px !important;
    margin: 6px 0 0 0 !important;
    font-size: 8px;
    color: #8c8a8a;
}

.gift-pack-activity-list-a {
    position: absolute;
    right: 10px;
    margin-top: 20px !important;
    text-align: center;
}

.gift-pack-activity-list-a a {
    /*color: darkgray;*/
}

.no-padding {
    padding: 0;
}

#timeline {
    overflow: hidden;
    position: relative;
    /*background: url('../img/dot.gif') 5px top repeat-y;*/
}

#dates {
    position: absolute;
    top: -30px;
    float: left;
    margin-left: 5px;
    margin-top:0 !important;
}

#dates li {
    list-style: none;
    width: 80px;
    height: 85px;
    line-height: 85px;
    /*padding-right: 20px;*/
    /*text-align: right;*/

    border-left: 1px solid #c3c2c2;

}

.date-li-show{
    height: 105px !important;
    line-height: 105px !important;
}

#issues {
    height:auto !important;
}
.time-arrow{
    height:10px;
    background: url('../img/arrow.png') 0 center no-repeat;
    color: #fff;
    font-size: 10px;
    padding:2px 5px 2px 8px;
}
.height-full{
    min-height: 100%;
}
.height-40{
    height:40px !important;
}