%p 亲爱的用户

%p 您好！请点击下面的链接，修改您的密码

%a{:href=>"http://wap.handx2.com/index/#/user/reset_password_via_email/"+@record.code}
  http://wap.handx2.com/index/#/user/reset_password_via_email/
  = @record.code

%p (如果链接无法点击，请将它复制并粘贴到浏览器的地址栏中访问)

%p 本邮件是系统自动发送的，请勿直接回复！感谢您的访问，祝您使用愉快！