-# coding: utf-8
%header
  %p 意见反馈
  .header-left(ng-tap="go_back()")
    .btn-style.back-btn
.wrapper#wrapper.topic-list.scrollable.no-footer
  %form.new-topic-form
    %ng-custom-textrea.input-full(placeholder="说说您遇到的问题，我们将不断改进！" ng-model="feedback")
    %p(class="label-warning" ng-show="has_err") 请填写完整
    %a.btn-style.btn-2.btn-sub-topic(ng-tap="sub_feedback()")
      发送