-# coding: utf-8
%header
  %p 找回密码
  .header-left
    .btn-style.back-btn( ng-tap="go_back()")

.wrapper#wrapper.scrollable.height-full
  %form.wrapper-inner
    %fieldset.form-wrapper
      .input-group
        %span.input-group-addon.modal-login-label
          用户名:
        %ng-custom-input.form-control(ng-model="mailbox"  placeholder="请输入您的注册邮箱" type="email")
      %br
      %button.btn.width-full.login_finger_bang(ng-disabled="!mailbox || success" ng-click="send_email()")
        发送验证邮件

  .save_confirm(ng-show="show_alert && success")
    邮件已发送
  .save_confirm(ng-show="show_alert && !success")
    邮件未注册