-# coding: utf-8
%link(rel="stylesheet" type="text/css" href="css/reset_password.css")
%header
  %p 重置密码
  .header-left
    .btn-style.back-btn(ng-tap="go_personal_center()")

.wrapper#wrapper.scrollable.height-full
  %form.wrapper-inner(name="myForm")
    %fieldset.form-wrapper
      .input-group.bottom_margin
        %span.input-group-addon.modal-login-label
          &nbsp;&nbsp;&nbsp;&nbsp;用户名:&nbsp;&nbsp;&nbsp;
        %ng-custom-input.form-control.disabled_color(value='{{user.nickname}}' type="text" disabled="disabled"  )
      .input-group.bottom_margin
        %span.input-group-addon.modal-login-label
          &nbsp;设置密码：
        %ng-custom-input.form-control(placeholder="请输入6-12位密码" maxlength="12" ng-enter="save_reset_password()" ng-model="password" type="password" )
      .input-group.bottom_margin
        %span.input-group-addon.modal-login-label
          &nbsp;设置密码：
        %ng-custom-input.form-control(placeholder="请再次输入密码" maxlength="12" ng-enter="save_reset_password()" ng-model="password_confirmation" type="password" )
      .row#error.hide.padding-top-10.margin-left-0
        .col-xs-12.padding-left-0
          .register_err#error_info

      %br
      %button.btn.save_info(ng-disabled="!(password && password_confirmation)" ng-click = "save_reset_password()")
        保存修改