// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.admin_login_form{
  padding: 30px;
  margin-top: 150px;
  border-radius: 5px;
  background: url('bgnoise.png');
}
.login_form_inside{
  padding: 5px 30px;
}
.btn-local{
  color: #000000;
  text-align: center;
  width: 100%;
  font-size: 15px;
  line-height: 25px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px ;
}
.btn-local_1{
  width: 50%;
  font-size: 15px;
  line-height: 25px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px ;
}
.btn-local_2{
  float: right;
  width: 50%;
  font-size: 15px;
  line-height: 25px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px ;
}
.height_34{
  height: 34px !important;
}
.admin_font{
  color: #fff;
  margin-right: 20px;
}
.admin_font a{
  color: #fff;
}
.admin_font a:visited {
  color: #fff;
}
.width_20{
  width: 20%;
}
.width_78{
  width: 78%;
}
.width_100{
  width: 100%;
}
.padding_15{
  padding: 0px 15px;
}
.cursor-pointer{
  cursor: pointer;
}
.red_color{
  color: red;
}
.text_right{
  text-align: right;
}
.width_300px{
  width: 100px;
}
.font_18px{
  font-size: 18px;
}
.height-auto{
  height: auto;
}
a{
  cursor: pointer;
}
.padding_top_5{
  padding-top: 5px;
}
.padding_bottom_10{
  padding-bottom: 10px;
}
.my_disabled_color{
  color: #8E8E8E;
}
.close_mark{
  position: absolute;
  float: right;
  font-size: 20px;
  margin-left: -20px;
}
.price_input{
  width:40px;
  height: 28px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.file {
  position: relative;
  display: inline-block;
  overflow: hidden;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
}
.file input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
}
.text_center{
  text-align: center !important;
}
.app_detail_photo{
  position: absolute;
  font-size: 20px;
  top: 0;
  right: 20px;
}
.app_photo_large{
  width: 100%;
  height: 100px;
}
#editor_gift_pack_detail, #editor_activity_detail{
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}
#editor_gift_pack_card_nums{
  width: 100%;
  min-height: 250px;
}
.height-28{
  height:28px !important;
}
.margin_bottom_10{
  margin-bottom:10px;
}
#editor {
  max-height: 400px;
  height: 400px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
.file_font{
  margin-top: 7px;
  font-size: 20px;
}
.font-17{
  font-size: 17px;
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #67CF22;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

.no-margin {
  margin: 0 !important;
}

.ad-p {
  font-size: 16px !important;
  margin:0 !important;
  height: 34px !important;
  line-height: 2 !important;
  padding: 0 !important;
  width: 12% !important;
}

.ad-label-btn {
  margin-left: 10px !important;
  height: 34px !important;
}

.ad-input-text {
  height: 34px !important;
  width: 37% !important;
  display: inline-block !important;
}

.ad-text-desc {
  height: 34px !important;
}

.ads-btn-margin {
  margin: 0px 0px 18px 0 !important;
}

.img-font {
  font-size: 14px;
  margin: 6px 0 0 0;
}

.padding-right-0{
  padding-right: 0px !important;
}

.padding-0{
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.zhi{
  padding-top: 5px !important;
  padding-left:5px !important;
  padding-right: 5px !important;
  width: auto !important;
}
#deduct_integral{
  height: 28px;
  width:100px
}

.post-error {
  color: #ff0000;
  font-size: 20px;
}

.post-tip {
  color: #0000ff;
  font-size: 20px;
}

.video-p {
  font-size: 16px !important;
  margin:0 !important;
  height: 34px !important;
  line-height: 2 !important;
  text-align: right !important;
}

.input-area {
  height: 100px;
}

.video-checkbox {
  margin-left: 10px !important;
  margin-top: 9px !important;
}

.video-label {
  width: 70px !important;
  margin-top: 5px !important;
}

.font-size-14{
  font-size:14px !important;
}

