<!DOCTYPE html>
<html>
<head>
  <title>指头邦官网</title>
  <meta property="wb:webmaster" content="9e6c24d849bdd91c" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" , "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
